extends layout

block content
  .body
    #content
    script(src='http://127.0.0.1:#{sourcePort}/external/redux.min.js')
    script(src='http://127.0.0.1:#{sourcePort}/js/vendor.bundle.js')
    script(src='http://127.0.0.1:#{sourcePort}/js/#{page}.bundle.js')
